.insta {
  height: 50vh;
  width: 100%;
}
.insta-container {
  height: 40vh;
  width: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
    */
}
.insta .middle {
  display: flex;
  background-color: white;
  height: 30vh;
  width: 100%;
}
.insta .img {
  width: 40%;
  height: 30vh;
  overflow: hidden;
}
.insta .img img {
  width: 90%;
}
.insta .middle span {
  font-size: 20px;
  width: 40%;
  text-align: center;
  margin-block: 5px;
  line-height: 1px;
  padding: 17px;
  background-color: pink;
  font-family: cursive;
  font-weight: 400;
  animation: ani1 7s 10s infinite;
}
@keyframes ani1 {
  0% {
    width: 0%;
    opacity: 0.1;
  }
  50% {
    width: 40%;
    color: white;
  }
  100% {
    width: 40%;
    color: white;
  }
}
.insta .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1px;
  width: 25%;
}
.insta .top {
  font-size: 65px;
  font-weight: 900;
  margin-bottom: -30px;
}
.insta .bottom {
  font-size: 65px;
  font-weight: 900;
  margin-bottom: -30px;
}
.insta .bottom span {
  float: right;
}
@media (max-width: 700px) {
  body {
    margin: 0;
  }
  .insta-container {
    height: 100vh;
    width: 100%;
  }
  .insta .middle {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
  }
  .insta .img {
    width: 100%;
    height: 100vh;
  }
  .insta .img img {
    width: 100%;
  }
  .insta .text {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .insta .middle span {
    margin: 20px;
  }
  .insta p {
    display: none;
  }
}
@media (max-width: 500px) {
}
